# Pandas Code Utils

The Notebook includes different code utils in Pandas for Time Series.

In [18]:
# Import Standard Libraries
import pandas as pd
import numpy as np

# Time Data Types

## Date Range

### Definition

It creates a range of dates from the specified origin, across the given period with a certain frequency.

In [19]:
# From 01/01/2020 to 07/01/2020 every day
pd.date_range('2020-01-01', periods=7, freq='D')

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07'],
              dtype='datetime64[ns]', freq='D')

### Pandas DataFrame with DateTimeIndex

Create a Pandas DataFrame with a DateTimeIndex as index.

In [20]:
# Create index
index = pd.date_range('01/01/2024', periods=30, freq='D')

# Create values
values = np.random.randint(100, size=30)

# Create dataframe
dataframe = pd.DataFrame(values, index=index, columns=['Sales'])

print(dataframe.head())

            Sales
2024-01-01     58
2024-01-02     51
2024-01-03     26
2024-01-04     86
2024-01-05     47

### Partial String Indexing

Select a subrange of dates for indexing.

In [21]:
# Select from 10/01/2024 to 17/01/2024
dataframe['2024-01-10':'2024-01-17']

            Sales
2024-01-10     58
2024-01-11     48
2024-01-12     53
2024-01-13      5
2024-01-14     99
2024-01-15     94
2024-01-16     81
2024-01-17     26

## Timestamp

### General

In [22]:
# Create a Pandas Timestamp value
pd.Timestamp('01/01/2018')

Timestamp('2018-01-01 00:00:00')

### Attributes

In [23]:
# Get attributes
pandas_timestamp = pd.to_datetime('01/01/2018')

print(f'Year: {pandas_timestamp.year}')
print(f'Day Name: {pandas_timestamp.day_name()}')

Year: 2018
Day Name: Monday

## Datetime

### To Datetime Operation

Transform the given values into `datetime` data type.

In [24]:
# Transform values into datetime
pd.to_datetime(['01/02/2018', 'Jan 03, 2018'], format='mixed')

DatetimeIndex(['2018-01-02', '2018-01-03'], dtype='datetime64[ns]', freq=None)

## Period

### Definition

The period object has always a frequency.

In [25]:
# Create a Pandas Period
pd.Period('2017-01')

Period('2017-01', 'M')

### Operations

In [26]:
# Convert frequency
pandas_period = pd.Period('2017-01', freq='M')
pandas_period = pandas_period.asfreq('D')
pandas_period

Period('2017-01-31', 'D')

In [27]:
# Add period
pandas_period = pd.Period('2017-01', freq='M')
pandas_period + 2

Period('2017-03', 'M')

# Operations

## Resample

It converts the frequency of a time series and resample the values.

In [28]:
# Create a dataframe with monthly values of sales
index = pd.date_range('01/01/2020', periods=48, freq='ME')
values = np.random.randint(1000, size=48)
dataframe = pd.DataFrame(values, index=index, columns=['Sales'])

In [29]:
dataframe

            Sales
2020-01-31    249
2020-02-29    140
2020-03-31    772
2020-04-30    450
2020-05-31    533
2020-06-30    342
2020-07-31    741
2020-08-31    217
2020-09-30    584
2020-10-31    525
2020-11-30    815
2020-12-31    155
2021-01-31    705
2021-02-28    974
2021-03-31    416
2021-04-30    704
2021-05-31    152
2021-06-30    280
2021-07-31    983
2021-08-31    804
2021-09-30    162
2021-10-31    501
2021-11-30    392
2021-12-31    392
2022-01-31    337
2022-02-28    129
2022-03-31     37
2022-04-30    182
2022-05-31    587
2022-06-30    732
2022-07-31    725
2022-08-31    319
2022-09-30    867
2022-10-31    706
2022-11-30    206
2022-12-31    218
2023-01-31     33
2023-02-28    799
2023-03-31    571
2023-04-30    125
2023-05-31    706
2023-06-30    822
2023-07-31    704
2023-08-31    530
2023-09-30    397
2023-10-31    338
2023-11-30    837
2023-12-31    379

In [30]:
# Let's resample it to a 'yearly' frequency and computing the mean
dataframe.resample(rule='YE').mean()

                 Sales
2020-12-31  460.250000
2021-12-31  538.750000
2022-12-31  420.416667
2023-12-31  520.083333

## Custom Resample

Instead of applying standard functions like `mean()`, it is also possible to apply custom functions.

In [31]:
# Create a function to return the sales x 2
def double_sales(entry):
    
    return entry * 2

# Let's resample it to a 'yearly' frequency and apply the 'double_sales' function
dataframe.resample(rule='YE').mean().apply(double_sales)

                  Sales
2020-12-31   920.500000
2021-12-31  1077.500000
2022-12-31   840.833333
2023-12-31  1040.166667

## Shifting

Shift the values of all the columns of a Pandas DataFrame by a fixed lag or a period.

In [32]:
# Create a dataframe with monthly values of sales
index = pd.date_range('01/01/2020', periods=48, freq='ME')
values = np.random.randint(1000, size=48)
dataframe = pd.DataFrame(values, index=index, columns=['Sales'])

# Shift the values forward by one
print(dataframe.head())
print(dataframe.shift(1).head())

            Sales
2020-01-31    727
2020-02-29    595
2020-03-31    977
2020-04-30    598
2020-05-31    863
            Sales
2020-01-31    NaN
2020-02-29  727.0
2020-03-31  595.0
2020-04-30  977.0
2020-05-31  598.0

In [33]:
# Shift two months ahead
print(dataframe.shift(periods=2, freq='ME').head())

            Sales
2020-03-31    727
2020-04-30    595
2020-05-31    977
2020-06-30    598
2020-07-31    863

In [34]:
# Shift into the past
dataframe.shift(-1).head(5)

            Sales
2020-01-31  595.0
2020-02-29  977.0
2020-03-31  598.0
2020-04-30  863.0
2020-05-31  669.0

## Rolling

It performs some aggregation function over a rolling window.
It useful to catch the trend for a certain window time interval (e.g., 7 days).

In [35]:
# Create a dataframe with daily values of sales
index = pd.date_range('01/01/2020', periods=90, freq='D')
values = np.random.randint(1000, size=90)
dataframe = pd.DataFrame(values, index=index, columns=['Sales'])

In [36]:
# Compute the mean of a sliding window
dataframe.rolling(window=7, center=True).mean()

                 Sales
2020-01-01         NaN
2020-01-02         NaN
2020-01-03         NaN
2020-01-04  324.714286
2020-01-05  321.857143
...                ...
2020-03-26  482.142857
2020-03-27  382.714286
2020-03-28         NaN
2020-03-29         NaN
2020-03-30         NaN

[90 rows x 1 columns]

In [37]:
# The first value is exactly the mean of the first 7 days
# The value is placed then at the center of the window (202-01-04)
dataframe.iloc[:7, :].mean().rename('mean')

Sales    324.714286
Name: mean, dtype: float64

## Expanding

It performs an aggregation operation between rows in a specific window size.

In [38]:
# Create a dataframe with daily values of sales
index = pd.date_range('01/01/2020', periods=90, freq='D')
values = np.random.randint(1000, size=90)
dataframe = pd.DataFrame(values, index=index, columns=['Sales'])

In [39]:
dataframe.iloc[:3, :]

            Sales
2020-01-01    638
2020-01-02    677
2020-01-03    400

In [40]:
dataframe.expanding().sum().iloc[:3, :]

             Sales
2020-01-01   638.0
2020-01-02  1315.0
2020-01-03  1715.0

In [41]:
dataframe.iloc[:2, :].sum()

Sales    1315
dtype: int64

## Division over Columns

Divide one column value by the same row value of another column

In [54]:
# Create a dataframe
index = pd.date_range('01/01/2020', periods=5, freq='MS')
values = np.linspace(0, 120, 5)
dataframe = pd.DataFrame(values, index=index, columns=['Sales'])

In [55]:
# Compute shifted column
dataframe['Shifted_1'] = dataframe['Sales'].shift(-1)

# Compute the division
dataframe['Change'] = dataframe['Sales'].div(dataframe['Shifted_1'])

dataframe.head(5)

            Sales  Shifted_1    Change
2020-01-01    0.0       30.0  0.000000
2020-02-01   30.0       60.0  0.500000
2020-03-01   60.0       90.0  0.666667
2020-04-01   90.0      120.0  0.750000
2020-05-01  120.0        NaN       NaN

## Differencing

It computes the difference between the value of the column `x` of row `t` and the value of the column `x` of row `t-1`.

In [59]:
# Compute the value difference between one row value and the one before
dataframe['Difference'] = dataframe['Sales'].diff()

dataframe[['Sales', "Difference"]].head(5)

            Sales  Difference
2020-01-01    0.0         NaN
2020-02-01   30.0        30.0
2020-03-01   60.0        30.0
2020-04-01   90.0        30.0
2020-05-01  120.0        30.0

## Percentage Change

It computes the percentage difference between the value of the column `x` of row `t` and the value of the column `x` of row `t-1`.

In [60]:
# Compute the value difference in percentage between one row value and the one before
dataframe['Percentage Change'] = dataframe['Sales'].pct_change().mul(100)

dataframe[['Sales', "Percentage Change"]].head(5)

            Sales  Percentage Change
2020-01-01    0.0                NaN
2020-02-01   30.0                inf
2020-03-01   60.0         100.000000
2020-04-01   90.0          50.000000
2020-05-01  120.0          33.333333

In [61]:
# Compute the value difference in percentage between one row value and the one before 3 periods before
dataframe['Percentage Change 3 Months'] = dataframe['Sales'].pct_change(periods=3).mul(100)

dataframe[['Sales', "Percentage Change 3 Months"]].head(5)

            Sales  Percentage Change 3 Months
2020-01-01    0.0                         NaN
2020-02-01   30.0                         NaN
2020-03-01   60.0                         NaN
2020-04-01   90.0                         inf
2020-05-01  120.0                       300.0

- The 300% ie because the 300% of 30.0 is 120.0